@*
   @Html.ActionLink(@"Cart
    (" + ViewData["CartCount"] + ")","Index","ShoppingCart",
    new { id = "cart-status" })

*@



@*<li> <a href="@Url.Content("~/ShoppingCart/")" id="deneme42">      </a></li>*@